.addfriends-con{
    position: fixed;
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addfriends-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:400px;
    width: 40%;
    background-color: rgb(5, 106, 194);
    border-radius: 10px;

}
.cencle-btn{
    height: 40px;
    width: 60px;
    margin-right:10px;
    background-color: red;
}
.input-btn{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
}
.submit-btn{
    width: 60px;
    height: 40px;
    margin-left: 10px;
}
.profile-box{
    width: 600px;
    height: 50px;
    background-color: rgb(205, 220, 233);
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-box img {
    width:40px;
    height: 40px;
    background-color: rgb(181, 240, 19);
    border-radius: 20px;
    margin-left: 10px;
}
.profile-box div {
    margin-left: 20px;
}
.profile-box button {
    height: 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    background-color: rgb(10, 197, 10);
    border: none;
}


.loading{
  margin-top: 10px;
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #3498db; 
  border-radius:50px;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}