.con {
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
}
.con-box {
    width: 20%;
    height: 80vh;
    background-color: white;
    margin: 10vh auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-box{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.create-btn{
    width: 85px;
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0084ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.create-btn_loading {
  border: 6px solid #f3f3f3; /* Light grey background */
  border-top: 6px solid #3498db; /* Blue border on top */
  border-radius: 50%; /* Makes it a circle */
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite; /* Applies the spin animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.input-box button:hover{
    background-color: #006fd6;
}
.input-box input{
    width: 60%;
    height: 40px;
    margin: 15px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.friend-con{
    width: 100%;
    height: 100%;
}
.friend-header{
    width: 100%;
    height: 60px;
    background-color: #0084ff;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.friend-list{
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.friend-box{
    width: 90%;
    height: 40px;
    display: flex;
    background-color: #ccc;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.friend-box:hover{
    background-color: #bbb;
    cursor: pointer;
}
.friend-box img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #0084ff;
}