.con{
    height: 900px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 700px;
    width: 40%;
    background-color: rgb(7, 112, 204);
    
}
.header{
    width: 100%;
    height: 10%px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.title{
    margin-left: 20px;
    text-align: center;
}
.back-btn{
    margin-right: 20px;
    width: 70px;
}
.body{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}
.pf{
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 40px;
    background-color: aliceblue;
}
.pf img {
    height: 40px;
    width: 40px;
    background-color: rgb(8, 92, 167);
    border-radius: 20px;
    margin-left: 20px;
}
.pf button {
    margin-right: 20px;
    width: 70px;
}
.loading{
  margin-top: 10px;
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #0ab342; 
  border-radius:50px;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite; 
}
.acceptloading{
  border: 5px solid #0da82f; 
  border-top: 5px solid #000000; 
  border-radius:50px;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite; 
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}